.card {
    border-radius: 10px;

    &:hover {
        background: #f8f9fa;
    }
}

.scenter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.sleft {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}