<div data-controller="font-size">
  <a class="btn btn-outline-secondary"
          data-action="click->font-size#decrease">A−</a>
  <a class="btn btn-outline-secondary"
          data-action="click->font-size#increase">A+</a>
  <a class="btn btn-outline-secondary"
          data-action="click->font-size#reset">A</a>
</div>
<div data-controller="line-height">
  <a class="btn btn-outline-secondary"
          data-action="click->line-height#decrease">−</a>
  <a class="btn btn-outline-secondary"
          data-action="click->line-height#increase">+</a>
  <a class="btn btn-outline-secondary"
          data-action="click->line-height#reset">LH</a>
</div>
<p> what the heck </p>