<div class="container d-flex flex-row mt-1 sticky-top border-bottom">
  <div class="col-12 d-flex justify-content-between">
    <%= yield :level_one %>
    <% if content_for?(:level_two) %>
      >
      <%= yield :level_two %>
    <% end %>
    <% if content_for?(:level_three) %>
      >
      <%= yield :level_three %>
    <% end %>
  </div>
</div>