<div class="container-fluid d-flex flex-row mt-1 sticky-top">
  <div class="col-6">
    <%= yield :level_one %>
    <% if content_for?(:level_two) %>
      >
      <%= yield :level_two %>
    <% end %>
    <% if content_for?(:level_three) %>
      >
      <%= yield :level_three %>
    <% end %>
  </div>
  <div class="col-6 sleft">
    <button class="btn btn-outline-secondary"
        data-action="click->theme#toggle">
      <i class="bi bi-moon-stars"></i>
    </button>
  </div>
</div>